<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="about" content="collectIn">
    <meta name="version" content="1.0.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat|Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" href="/public/bootstrap.css">
    <link rel="stylesheet/less" href="/public/style.less">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="/public/less.min.js"></script>
    <script src="/public/bootstrap.js"></script>
    <script src="/public/axios.min.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">

<div class="space30"></div>

<div class="container">
    {% block content_public %}{% endblock %}
</div>

<script src="/public/forms.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>