{% extends '_layout.html' %}
{% block title %}collectIn - Editează eveniment{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="prez-when-bodyimg">
                <h1>Editează {{ album.name }}</h1>
                <form id="editAlbumForm" class="ci-form">
                    <input type="hidden" name="id" value="{{ album._id }}">
                    
                    <div class="form-group">
                        <label for="name">Denumire</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ album.name }}">
                    </div>
                    <div class="form-group">
                        <label for="location">Locație</label>
                        <input type="text" class="form-control" id="location" name="location" value="{{ album.location }}">
                    </div>
                    <div class="form-group">
                        <label for="date_from">Data</label>
                        <input type="date" class="form-control" id="date_from" name="date_from" value="{{ album.date_from }}">
                    </div>
                    <!-- {% if album.public == false %}
                        <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="public" id="public">
                                <label class="form-check-label" for="public">Eveniment public</label>
                        </div>
                    {% else %}
                        <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="public" id="public" checked>
                                <label class="form-check-label" for="public">Eveniment public</label>
                        </div>
                    {% endif %} -->
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-app">Editează eveniment</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}

{% block scripts %}
<script>Forms.init('editAlbumForm')</script>
{% endblock %}